.cabeçalho-imagem{
width: 18%;

}
.titulo-principal{
    display: inline-block;
    justify-content: center;
    margin: 0 16px;
    font-size: 24px;
}
.texto-principal{
 display: flex;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 0%;
font-size: 28px;
margin: 0 24px;
}
.imagem{
    width: 100%;
}
.rodape{

    
}
